include LICENSE.txt
include README.rst
recursive-include simpleflow/templates *
recursive-include simpleflow/migrations *
recursive-include simpleflow/static *
recursive-include simpleflow/templatetags *
recursive-include docs *